<h1>What is your current mood?</h1>
<!-- <p>Find me in app/views/home/mood.html.erb</p> -->

<%= form_tag do %>
  <%= select_tag "mood", options_for_select([ "Happy", "Sad", "Angry", "Frightened", "Frustrated", "Sarcastic"], @mood), include_blank: true %>

  <%= submit_tag("Click iiiiiiiiiit") %>
<% end %>

<p><h3><%= @quote %></h3></p>
<p><img src= "<%= @picture %>"></p>
<!-- <p><%= @picture %></p> -->
