<head>
<style>
  body {background-color:lightgray}
  h1   {color:blue}
  h2    {color:black,}
</style>
</head>




<center> <h1>Tell Me Your Mood!</h1>
<h2>Use the drop down menu to sellect your mood.</h2>

<%= form_tag do %>
  <%= select_tag "mood", options_for_select([ "-----", "Happy", "Sad", "Meh" ]) %>

  <%= submit_tag %>
<% end %>


<p>        </p>
<img src= <%= @mood_image %> alt="some_text" style="width:400px"></img>

<h2>Your inspirational quote is: <%= @mood_quote %></h2></center>
