<h1>Quotation Generator!</h1>
<p>Select the type of mood you are in below!</p>

<%= form_tag do %>
<%= select_tag "mood", options_for_select(@moods) %>
<%= submit_tag %>
<% end %>
<%= simple_format(@quote) %>
<%= image_tag "#{@image_folder}/#{rand(1..5)}.jpg", size: "400x400", alt: "mood_ring.jpg" %>
