<body style="background-color:red">

<h1> Bow-chica-wow-wow. What is your mood? </h1>

<%= form_tag do %>
  <%= select_tag "mood", options_for_select([ "Nothing", "Pharrell- Happy", "Michael Scott- Lost", "Michael Byrd- Genius", "Mason- LOVES Kitties" ]) %>
  <%= submit_tag %>
<% end %>

<p>You have selected: <%= @mood %></p>

<h2> Quote: <%= @mot_quote  %></h2>

<!-- <img src=<%= @mood_image %>  ></img> -->
<%= image_tag(@mood_image) %>
